@media (max-width: 1025px) {
  .logo {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 683px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 610px) {
  .damageStats {
    flex-direction: column;
  }
  .offenseContainer {
    margin: 0;
  }
  .defenseContainer {
    margin-top: 10px;
  }
  .pkmnPicAndName {
    flex-direction: column;
  }
  .imageContainer {
    padding-top: 20px;
  }
  .container h2 {
    text-align: center;
  }
}
