//Styling for the type buttons
input {
  appearance: none;
}

input[type="text"] {
  width: 80%;
  border: 1px solid rgba(93, 88, 88, 0.2);
}

input[type="text"]:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 234, 234);
  transition: 0.4s;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  width: 110px;
  display: block;
  padding: 10px 3px;
  margin: 2px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(247, 241, 241, 0.8);
  text-transform: uppercase;
  transition: 0.2s;
  &:hover {
    color: white;
    text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.8);
    border-radius: 0px;
    transition: 0.4s;
    opacity: 0.8;
    cursor: pointer;
  }
}

.userType p {
  margin: 0;
  margin-bottom: -15px;
}

.userType ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
}

//Color for each type button//

//normal
input[type="radio"]#normal + label {
  background: #eee8aa;
}

input[type="radio"]#normal + label:active {
  background: #636347;
}

//fire
input[type="radio"]#fire + label {
  background: #f08030;
}

input[type="radio"]#fire + label:active {
  background: #894a1d;
}

//water
input[type="radio"]#water + label {
  background: #6890f0;
}

input[type="radio"]#water + label:active {
  background: #4c6ab0;
}

//grass
input[type="radio"]#grass + label {
  background: #78c850;
}

input[type="radio"]#grass + label:active {
  background: #4b7e32;
}

//electric
input[type="radio"]#electric + label {
  background: #f9d74f;
}

input[type="radio"]#electric + label:active {
  background: #b49b36;
}

//ice
input[type="radio"]#ice + label {
  background: #98d8d8;
}

input[type="radio"]#ice + label:active {
  background: #79a4a4;
}

//fighting
input[type="radio"]#fighting + label {
  background: #c03028;
}

input[type="radio"]#fighting + label:active {
  background: #822520;
}

//poison
input[type="radio"]#poison + label {
  background: #a140a1;
}

input[type="radio"]#poison + label:active {
  background: #581f58;
}

//ground
input[type="radio"]#ground + label {
  background: #e0c068;
}

input[type="radio"]#ground + label:active {
  background: #957f43;
}

//flying
input[type="radio"]#flying + label {
  background: #a890f0;
}

input[type="radio"]#flying + label:active {
  background: #67579a;
}

//psychic
input[type="radio"]#psychic + label {
  background: #f85888;
}

input[type="radio"]#psychic + label:active {
  background: #9b3453;
}

//bug
input[type="radio"]#bug + label {
  background: #a8b820;
}

input[type="radio"]#bug + label:active {
  background: #5a6214;
}

//rock
input[type="radio"]#rock + label {
  background: #b8a038;
}

input[type="radio"]#rock + label:active {
  background: #6f6123;
}

//ghost
input[type="radio"]#ghost + label {
  background: #705898;
}

input[type="radio"]#ghost + label:active {
  background: #493669;
}

//dark
input[type="radio"]#dark + label {
  background: #856b59;
}

input[type="radio"]#dark + label:active {
  background: #3d2e23;
}

//dragon
input[type="radio"]#dragon + label {
  background: #7038f8;
}

input[type="radio"]#dragon + label:active {
  background: #3c2572;
}

//steel
input[type="radio"]#steel + label {
  background: #b8b8d0;
}

input[type="radio"]#steel + label:active {
  background: #5e5e87;
}

//fairy
input[type="radio"]#fairy + label {
  background: #ff65d5;
}

input[type="radio"]#fairy + label:active {
  background: #812d6a;
}
