html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  background-color: palegoldenrod;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: darkred;
  font-family: "Press Start 2P", cursive;
}

h2, h3 {
  margin: 0;
  text-transform: capitalize;
  font-family: "Press Start 2P", cursive;
}

p {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

footer p {
  text-align: center;
  padding: 5px 0px;
  background-color: #ffcc00;
  border-top: 2px solid #8b0000;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  width: 28%;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.pkmnPicAndName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageContainer {
  margin: auto;
}

.imageContainer img {
  border: 3px solid red;
  border-radius: 50%;
  padding: 1%;
  background-color: white;
}

.container h2 {
  text-align: end;
  font-size: 1.5rem;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=text] {
  width: 80%;
  border: 1px solid rgba(93, 88, 88, 0.2);
}

input[type=text]:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 234, 234);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  width: 110px;
  display: block;
  padding: 10px 3px;
  margin: 2px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(247, 241, 241, 0.8);
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
label:hover {
  color: white;
  text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.8);
  border-radius: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.8;
  cursor: pointer;
}

.userType p {
  margin: 0;
  margin-bottom: -15px;
}

.userType ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

input[type=radio]#normal + label {
  background: #eee8aa;
}

input[type=radio]#normal + label:active {
  background: #636347;
}

input[type=radio]#fire + label {
  background: #F08030;
}

input[type=radio]#fire + label:active {
  background: #894a1d;
}

input[type=radio]#water + label {
  background: #6890F0;
}

input[type=radio]#water + label:active {
  background: #4c6ab0;
}

input[type=radio]#grass + label {
  background: #78C850;
}

input[type=radio]#grass + label:active {
  background: #4b7e32;
}

input[type=radio]#electric + label {
  background: #F9D74F;
}

input[type=radio]#electric + label:active {
  background: #b49b36;
}

input[type=radio]#ice + label {
  background: #98D8D8;
}

input[type=radio]#ice + label:active {
  background: #79a4a4;
}

input[type=radio]#fighting + label {
  background: #C03028;
}

input[type=radio]#fighting + label:active {
  background: #822520;
}

input[type=radio]#poison + label {
  background: #A140A1;
}

input[type=radio]#poison + label:active {
  background: #581f58;
}

input[type=radio]#ground + label {
  background: #E0C068;
}

input[type=radio]#ground + label:active {
  background: #957f43;
}

input[type=radio]#flying + label {
  background: #A890F0;
}

input[type=radio]#flying + label:active {
  background: #67579a;
}

input[type=radio]#psychic + label {
  background: #F85888;
}

input[type=radio]#psychic + label:active {
  background: #9b3453;
}

input[type=radio]#bug + label {
  background: #A8B820;
}

input[type=radio]#bug + label:active {
  background: #5a6214;
}

input[type=radio]#rock + label {
  background: #B8A038;
}

input[type=radio]#rock + label:active {
  background: #6f6123;
}

input[type=radio]#ghost + label {
  background: #705898;
}

input[type=radio]#ghost + label:active {
  background: #493669;
}

input[type=radio]#dark + label {
  background: #856b59;
}

input[type=radio]#dark + label:active {
  background: #3d2e23;
}

input[type=radio]#dragon + label {
  background: #7038F8;
}

input[type=radio]#dragon + label:active {
  background: #3c2572;
}

input[type=radio]#steel + label {
  background: #B8B8D0;
}

input[type=radio]#steel + label:active {
  background: #5e5e87;
}

input[type=radio]#fairy + label {
  background: #FF65D5;
}

input[type=radio]#fairy + label:active {
  background: #812d6a;
}

.damageStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offenseContainer {
  border: 3px solid #2575bb;
  background-color: #ffcc00;
  margin-right: 5%;
  padding: 20px;
}

.defenseContainer {
  border: 3px solid #2575bb;
  background-color: #ffcc00;
  padding: 20px;
}

.damageStats h2 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.damageStats h3 {
  font-size: 0.8rem;
  text-align: center;
  margin: 5px;
}

.damageStats ul {
  list-style: none;
  text-align: center;
  padding: 0;
  text-transform: capitalize;
  margin: 5px 0px;
}

@media (max-width: 770px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 683px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 610px) {
  .damageStats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offenseContainer {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .pkmnPicAndName {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageContainer {
    padding-top: 20px;
  }
  .container h2 {
    text-align: center;
  }
}